<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>contact1</servlet-name>
        <servlet-class>contact1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batchrequire</servlet-name>
        <servlet-class>batchrequire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryask</servlet-name>
        <servlet-class>queryask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>breakapp</servlet-name>
        <servlet-class>breakapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_detail</servlet-name>
        <servlet-class>student_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batch_detail</servlet-name>
        <servlet-class>batch_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookupload</servlet-name>
        <servlet-class>bookupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookdownload</servlet-name>
        <servlet-class>bookdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>practicalbook</servlet-name>
        <servlet-class>.practicalbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>theorybook</servlet-name>
        <servlet-class>theorybook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feesupload</servlet-name>
        <servlet-class>feesupload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact1</servlet-name>
        <url-pattern>/contact1</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>batchrequire</servlet-name>
        <url-pattern>/batchrequire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryask</servlet-name>
        <url-pattern>/queryask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>breakapp</servlet-name>
        <url-pattern>/breakapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_detail</servlet-name>
        <url-pattern>/student_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batch_detail</servlet-name>
        <url-pattern>/batch_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookupload</servlet-name>
        <url-pattern>/bookupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookdownload</servlet-name>
        <url-pattern>/bookdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>practicalbook</servlet-name>
        <url-pattern>/practicalbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>theorybook</servlet-name>
        <url-pattern>/theorybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feesupload</servlet-name>
        <url-pattern>/feesupload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
